<template>
<div>
  <div>
    <h1>Computed Property Vue</h1>
  </div>
  <div class="container">
    <label>First Name: </label>
    <input type="text" v-model="firstName">
    <br>
    <br>
    <label>Last Name: </label>
    <input type="text" v-model="lastName">
    <br>
    <br>
    <h1>Full Name: {{fullName | capitalize}}</h1>
  </div>
</div>
</template>
<script>
export default {
  data() {
    return {
      firstName: '',
      lastName: ''
    }
  },
  computed: {
    fullName: function() {
      return this.firstName + ' ' +this.lastName;
    }
  },
  filters: {
  capitalize: function (value) {
    if (!value) return ''
    value = value.toString()
    return value.charAt(0).toUpperCase() + value.slice(1)
  }
}
}
</script>
<style scoped>
  .container {
    box-shadow: 5px 10px #888888;
    background-color: moccasin;
    margin-left: 700px;
    margin-right: 700px;
    padding-top: 25px;
    padding-bottom: 10px;
    word-wrap: break-word;
  }
</style>